$text_yellow: #ffe53d;
$text_white: #fff;
$text_dark_blue: #1a2327;
$background_100: #17062a;
$background_90: #1e0936;
$key_violet_80: #331c4d;
$key_magenta_80: #881c9e;
$key_violet_70: #56077c;
$key_magenta_70: #be15f4;
$key_cyan_100: #00ded0;
$key_cyan_90: #6cf9f1;
